<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- Передача логів до логстеша в форматі logstash json -->
    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASHADDR}</destination>
        <keepAliveDuration>5 minutes</keepAliveDuration>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>

                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                </timestamp>

                <pattern>
                    <pattern>
                        {
                        "appName": "cstartstopcontrol"
                        }
                    </pattern>
                </pattern>

                <threadName/>
                <message/>

                <logstashMarkers/>
                <arguments/>

                <stackTrace/>
            </providers>
        </encoder>
    </appender>


    <!-- Передача логів на консоль в форматі logstash json -->
    <!--
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "appName": "cstartstopcontrol"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>
        </encoder>
    </appender>
    -->

    <!-- Передача логів до файлу у форматі logstash json -->
    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cstartstopcontrol.log</file>
        <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">

            <providers>
                <mdc/>
                <context/>
                <version/>
                <logLevel/>
                <loggerName/>
                <timestamp>
                    <fieldName>timestamp</fieldName>
                    <pattern>yyyy-MM-dd HH:mm:ss.SSS</pattern>
                </timestamp>
                <pattern>
                    <pattern>
                        {
                        "appName": "cstartstopcontrol"
                        }
                    </pattern>
                </pattern>
                <threadName/>
                <message/>
                <logstashMarkers/>
                <arguments/>
                <stackTrace/>
            </providers>

        </encoder>
    </appender>
    -->


    <!-- Конфігурація для логування у файл для подальшого використання цього файла як джерело при роботі filebeat -->
    <!--
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>cstartstopcontrol.log</file>
        <append>true</append>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | %-25thread | %-5level | %-70logger{70} - %msg%n
            </Pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>
                %d{yyyy-MM-dd HH:mm:ss.SSS} | %-25thread | %-5level | %-70logger{70} - %msg%n
            </Pattern>
        </encoder>
    </appender>
    -->

    <root level="INFO">
        <appender-ref ref="LOGSTASH"/>
        <!-- <appender-ref ref="FILE"/> -->
        <!-- <appender-ref ref="STDOUT"/> -->
    </root>

</configuration>

